
@{
    ViewBag.Title = "CreateBudget";
}

<div class="container">
    <h2>Create New Budget</h2>

    <div class="row">
        <div class="col-sm-6">
            <p>tools for creating budget</p>
        </div>
        <div class="col-sm-6">
            <p>display the budget created so far</p>
        </div>
    </div>
</div>
