
@{
    ViewBag.Title = "EnterTransactions";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="border">Tools for entering transactions here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>rolling list of transactions</p>
        </div>
    </div>
</div>

