
@{
    ViewBag.Title = "Index";
}

<div class="back1">
<div class="container">
    <h2>Alert Index</h2>

    <div class="row">
        <div class="col-sm-6">
            @Html.ActionLink("Approve/Deny Requests", "PurchaseRequests", "Alert", new { @class = "btn btn-primary btn-block btn-lg" })
        </div>
        <div class="col-sm-6">
            @Html.ActionLink("View Spending Warnings", "SpendingWarnings", "Alert", new { @class = "btn btn-primary btn-block btn-lg" })
        </div>
    </div>
</div>
</div>