
@{
    ViewBag.Title = "PurchaseRequests";
}

<div class="back1">
<div class="container">
    <h2>PurchaseRequests</h2>
    <div class="row">
        <div class="col-sm-12">
            <p id="requests">Display all requests with details<br>
                Allow some of the details to expand when clicked
            </p>
        </div>
    </div>
</div>
</div>