
@{
    ViewBag.Title = "Account";
}

<div class="container">
    <h2>Account</h2>
    <div class="row">
        <div class="col-sm-12">
            <p>Display account info here, provide option to change info</p>
        </div>
    </div>
</div>

