
@{
    ViewBag.Title = "UpdateAccount";
}

<form class="form-horizontal">
    <div class="form-group" action="#">
        <label class="control-label col-sm-3" for="username">Username :</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="username" placeholder="Enter new username">
        </div>
        <label class="control-label col-sm-3" for="oldpass">Old Password :</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="oldpass" placeholder="Enter old password">
        </div>
        <label class="control-label col-sm-3" for="newpass">New Password :</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="newpass" placeholder="Enter new password">
        </div>
        <div class="col-sm-offset-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>    
    </div>
</form>
