<nav class="navbar-fixed-bottom myFoot">
    <div class="container-fluid">
        <div class="">
            <div class="footerText">Kent State - Capstone Group 8<br />&copy; @DateTime.Now.Year</div>
        </div>
    </div>
</nav>

<style>
    .myFoot{
        height: 40px;
        background-color: #222222;
    }
    .footerText{
        color: #9d9d9d;
        text-align: center;
    }
</style>
